.gallery{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
    display: inline-block;
    border: 1px solid hsl(0, 0% ,60%);
    margin: 5px;
    width: 250px;
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }

}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid hsl(0, 0% , 20%);
}
.gallery img{
    width: 100%;
    height: auto;        
}
